This notebooks covers 5 different ways of creating pandas dataframe. Pandas is a popular python library especially used in data science and data analytics.

Topics that are covered :

How to create dataframe?
Create dataframe using **read_csv() method 
Create dataframe using **read_excel() method
Create dataframe using ** python dictionary DataFrame() method
Create dataframe using **tuples list DataFrame() method
Create dataframe using the **list of dictionary DataFrame() method
Other ways to create dataframe

# Create dataframe using read_csv() method

In [9]:
import pandas as pd 
df=pd.read_csv("C:\\Users\\Ines\\data science training\\pandas\\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Create dataframe using read_excel() method

In [17]:
import pandas as pd 
df1=pd.read_excel("C:\\Users\\Ines\\data science training\\pandas\\weather_data_excel.xlsx")
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain
5 2017-01-06           31          2  Sunny

# Create dataframe using python dictionary DataFrame() method

In [18]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df2 = pd.DataFrame(weather_data)
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Create dataframe using tuples list DataFrame() method

In [19]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df3 = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df3

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

# Create dataframe using the list of dictionary DataFrame() method

In [20]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df4 = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df4

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow